body{
    margin: 0;
    padding: 0;
    font-family: Condensed,sans-serif;
    overflow-y: scroll;
    background-color: rgb(10, 10, 10);
}

.bodyText{
    color: #8f87bd;
}

#nav{
    display: flex;
    position: fixed;
    background-color: #000000ef;
    width: 100%;
    height: 8%;
    z-index: 1;
}

#name {
    width: 40%;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}

.navButton{
    width: 15%;
    font-size: 20px;
    justify-content: center;
    text-align: center;
}

.navLink{
    transition: 0.60s ease;
    color: #6759b8;
    border-bottom: transparent solid 3px;
}

.navLink:hover{
    color: #c6c4d4;
    border-bottom: #c6c4d4 solid 3px;
    transition: 0.25s ease;
}
#bannerContainer{
    display: flex;
}

#banner{
    justify-content: center;
    text-align: center;
}

#aboutmeHeader{
    text-align: center;

}

#intro{
    display: flex;

}

#Me{
    width: 30%;
    margin-left: 14%;
    margin-top: 5%;
}

#ColeBranston_Image{
    border-radius: 10%;
    overflow: hidden;
    border-radius: 50%;
    width: 30%;
    height: 550px;
    margin-left: 12.5%;
}